*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 100px;
    width: 100px;
}
.square{
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 33%;
    height: 33%;
}